*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgrey;
    padding: 10px;
}
.menus{
    display: flex;
    list-style: none;
    gap: 7px;
    font-size: 15px;
    font-style:italic;
}
.banner-container{
    height: 100vh;
    background-image: url(../concept-portfolio/asset/image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    /* margin: auto; */
}
.title{
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.primary{
    color: red;
}
.description{
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.btn{
    padding: 12px 20px;
    border: none;
}
.bg-primary{
    background-color: red;
    color: white;
}
.service-container{
    height: 100vh;
    background-image: url(../concept-portfolio/asset/image/footer-bg.png),linear-gradient(rgba(43, 42, 42, 0.9),rgb(0, 0, 0,0.9));
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    padding: 20px;

}
.list{
    align-items: center;
    text-align: center;
}
.icon{
    width: 70px;
}
.box{
    background-color: white;
    color: black;
    text-align: center;
    height: 150px;
    width: 100px;
    padding: 50px;
    border-radius: 6px;
}
.first-two-box{
    display: flex;
    gap: 2px;
    margin-top: 6px;
}
.left-side-box{
    display: flex;
    gap: 2px;
}
.author-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 2px solid red;
    padding-right: 15px;
}
.author-img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}